@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-bPHLbh3E1o4M_font-family: "Inter";
  --mixin-bPHLbh3E1o4M_font-size: 16px;
  --mixin-bPHLbh3E1o4M_font-weight: 400;
  --mixin-bPHLbh3E1o4M_font-style: normal;
  --mixin-bPHLbh3E1o4M_color: #535353;
  --mixin-bPHLbh3E1o4M_text-align: left;
  --mixin-bPHLbh3E1o4M_text-transform: none;
  --mixin-bPHLbh3E1o4M_line-height: 1.5;
  --mixin-bPHLbh3E1o4M_letter-spacing: normal;
  --mixin-bPHLbh3E1o4M_white-space: pre-wrap;
  --mixin-bPHLbh3E1o4M_user-select: text;
  --mixin-bPHLbh3E1o4M_text-decoration-line: none;
  --mixin-bPHLbh3E1o4M_text-overflow: clip;
  --mixin-wM48t0KIiRf6_color: #000000;
  --mixin-wM48t0KIiRf6_font-weight: 900;
  --mixin-wM48t0KIiRf6_font-size: 72px;
  --mixin-wM48t0KIiRf6_line-height: 1;
  --mixin-wM48t0KIiRf6_letter-spacing: -4px;
  --mixin-wM48t0KIiRf6_white-space: pre-wrap;
  --mixin-Hr4o-Wqz9XXW_font-family: "Inter";
  --mixin-Hr4o-Wqz9XXW_color: #000000;
  --mixin-Hr4o-Wqz9XXW_font-size: 48px;
  --mixin-Hr4o-Wqz9XXW_font-weight: 700;
  --mixin-Hr4o-Wqz9XXW_letter-spacing: -1px;
  --mixin-Hr4o-Wqz9XXW_line-height: 1.1;
  --mixin-Hr4o-Wqz9XXW_white-space: pre-wrap;
  --mixin-rd2lokxRZygM_color: #0070f3;
  --mixin-rd2lokxRZygM_white-space: pre-wrap;
  --mixin-t26SKdNT-FtX_font-family: "Inter";
  --mixin-t26SKdNT-FtX_color: #000000;
  --mixin-t26SKdNT-FtX_font-size: 32px;
  --mixin-t26SKdNT-FtX_font-weight: 600;
  --mixin-t26SKdNT-FtX_letter-spacing: -0.8px;
  --mixin-t26SKdNT-FtX_line-height: 1.2;
  --mixin-t26SKdNT-FtX_white-space: pre-wrap;
  --mixin-6w4oF5y9ANyR_font-family: "Inter";
  --mixin-6w4oF5y9ANyR_color: #000000;
  --mixin-6w4oF5y9ANyR_font-size: 24px;
  --mixin-6w4oF5y9ANyR_font-weight: 600;
  --mixin-6w4oF5y9ANyR_letter-spacing: -0.5px;
  --mixin-6w4oF5y9ANyR_line-height: 1.3;
  --mixin-6w4oF5y9ANyR_white-space: pre-wrap;
  --mixin-4tz5Nz5lYUnb_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4tz5Nz5lYUnb_border-bottom-color: #dddddd;
  --mixin-4tz5Nz5lYUnb_border-bottom-style: solid;
  --mixin-4tz5Nz5lYUnb_border-bottom-width: 1px;
  --mixin-4tz5Nz5lYUnb_border-left-color: #dddddd;
  --mixin-4tz5Nz5lYUnb_border-left-style: solid;
  --mixin-4tz5Nz5lYUnb_border-left-width: 1px;
  --mixin-4tz5Nz5lYUnb_border-right-color: #dddddd;
  --mixin-4tz5Nz5lYUnb_border-right-style: solid;
  --mixin-4tz5Nz5lYUnb_border-right-width: 1px;
  --mixin-4tz5Nz5lYUnb_border-top-color: #dddddd;
  --mixin-4tz5Nz5lYUnb_border-top-style: solid;
  --mixin-4tz5Nz5lYUnb_border-top-width: 1px;
  --mixin-4tz5Nz5lYUnb_border-bottom-left-radius: 3px;
  --mixin-4tz5Nz5lYUnb_border-bottom-right-radius: 3px;
  --mixin-4tz5Nz5lYUnb_border-top-left-radius: 3px;
  --mixin-4tz5Nz5lYUnb_border-top-right-radius: 3px;
  --mixin-4tz5Nz5lYUnb_font-family: "Inconsolata";
  --mixin-4tz5Nz5lYUnb_padding-bottom: 1px;
  --mixin-4tz5Nz5lYUnb_padding-left: 4px;
  --mixin-4tz5Nz5lYUnb_padding-right: 4px;
  --mixin-4tz5Nz5lYUnb_padding-top: 1px;
  --mixin-4tz5Nz5lYUnb_white-space: pre-wrap;
  --mixin-oB0nU4SvD5RX_border-left-color: #dddddd;
  --mixin-oB0nU4SvD5RX_border-left-style: solid;
  --mixin-oB0nU4SvD5RX_border-left-width: 3px;
  --mixin-oB0nU4SvD5RX_color: #888888;
  --mixin-oB0nU4SvD5RX_padding-left: 10px;
  --mixin-oB0nU4SvD5RX_white-space: pre-wrap;
  --mixin-qkl-kjNE4zYk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qkl-kjNE4zYk_border-bottom-color: #dddddd;
  --mixin-qkl-kjNE4zYk_border-bottom-style: solid;
  --mixin-qkl-kjNE4zYk_border-bottom-width: 1px;
  --mixin-qkl-kjNE4zYk_border-left-color: #dddddd;
  --mixin-qkl-kjNE4zYk_border-left-style: solid;
  --mixin-qkl-kjNE4zYk_border-left-width: 1px;
  --mixin-qkl-kjNE4zYk_border-right-color: #dddddd;
  --mixin-qkl-kjNE4zYk_border-right-style: solid;
  --mixin-qkl-kjNE4zYk_border-right-width: 1px;
  --mixin-qkl-kjNE4zYk_border-top-color: #dddddd;
  --mixin-qkl-kjNE4zYk_border-top-style: solid;
  --mixin-qkl-kjNE4zYk_border-top-width: 1px;
  --mixin-qkl-kjNE4zYk_border-bottom-left-radius: 3px;
  --mixin-qkl-kjNE4zYk_border-bottom-right-radius: 3px;
  --mixin-qkl-kjNE4zYk_border-top-left-radius: 3px;
  --mixin-qkl-kjNE4zYk_border-top-right-radius: 3px;
  --mixin-qkl-kjNE4zYk_font-family: "Inconsolata";
  --mixin-qkl-kjNE4zYk_padding-bottom: 3px;
  --mixin-qkl-kjNE4zYk_padding-left: 6px;
  --mixin-qkl-kjNE4zYk_padding-right: 6px;
  --mixin-qkl-kjNE4zYk_padding-top: 3px;
  --mixin-qkl-kjNE4zYk_white-space: pre-wrap;
  --mixin-SqMDAz6ubfg6-_display: flex;
  --mixin-SqMDAz6ubfg6-_flex-direction: column;
  --mixin-SqMDAz6ubfg6-_align-items: stretch;
  --mixin-SqMDAz6ubfg6-_justify-content: flex-start;
  --mixin-SqMDAz6ubfg6-_list-style-position: outside;
  --mixin-SqMDAz6ubfg6-_padding-left: 40px;
  --mixin-SqMDAz6ubfg6-_position: relative;
  --mixin-SqMDAz6ubfg6-_list-style-type: disc;
  --mixin-SqMDAz6ubfg6-_white-space: pre-wrap;
  --mixin-Ep5x39Jygq5e1_display: flex;
  --mixin-Ep5x39Jygq5e1_flex-direction: column;
  --mixin-Ep5x39Jygq5e1_align-items: stretch;
  --mixin-Ep5x39Jygq5e1_justify-content: flex-start;
  --mixin-Ep5x39Jygq5e1_list-style-position: outside;
  --mixin-Ep5x39Jygq5e1_padding-left: 40px;
  --mixin-Ep5x39Jygq5e1_position: relative;
  --mixin-Ep5x39Jygq5e1_list-style-type: decimal;
  --mixin-Ep5x39Jygq5e1_white-space: pre-wrap;
  --mixin-J0AQX2K_8CkIQ_font-family: "Inter";
  --mixin-J0AQX2K_8CkIQ_color: #000000;
  --mixin-J0AQX2K_8CkIQ_font-size: 20px;
  --mixin-J0AQX2K_8CkIQ_font-weight: 600;
  --mixin-J0AQX2K_8CkIQ_letter-spacing: -0.3px;
  --mixin-J0AQX2K_8CkIQ_line-height: 1.5;
  --mixin-J0AQX2K_8CkIQ_white-space: pre-wrap;
  --mixin-yPk4arKaPrbja_font-family: "Inter";
  --mixin-yPk4arKaPrbja_color: #000000;
  --mixin-yPk4arKaPrbja_font-size: 16px;
  --mixin-yPk4arKaPrbja_font-weight: 600;
  --mixin-yPk4arKaPrbja_line-height: 1.5;
  --mixin-yPk4arKaPrbja_white-space: pre-wrap;
  --mixin-O0cRpZ7N-8r4O_color: #3291ff;
  --mixin-O0cRpZ7N-8r4O_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-bPHLbh3E1o4M_font-family);
  font-size: var(--mixin-bPHLbh3E1o4M_font-size);
  font-weight: var(--mixin-bPHLbh3E1o4M_font-weight);
  font-style: var(--mixin-bPHLbh3E1o4M_font-style);
  color: var(--mixin-bPHLbh3E1o4M_color);
  text-align: var(--mixin-bPHLbh3E1o4M_text-align);
  text-transform: var(--mixin-bPHLbh3E1o4M_text-transform);
  line-height: var(--mixin-bPHLbh3E1o4M_line-height);
  letter-spacing: var(--mixin-bPHLbh3E1o4M_letter-spacing);
  white-space: var(--mixin-bPHLbh3E1o4M_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-wM48t0KIiRf6_color);
  font-weight: var(--mixin-wM48t0KIiRf6_font-weight);
  font-size: var(--mixin-wM48t0KIiRf6_font-size);
  line-height: var(--mixin-wM48t0KIiRf6_line-height);
  letter-spacing: var(--mixin-wM48t0KIiRf6_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-Hr4o-Wqz9XXW_font-family);
  color: var(--mixin-Hr4o-Wqz9XXW_color);
  font-size: var(--mixin-Hr4o-Wqz9XXW_font-size);
  font-weight: var(--mixin-Hr4o-Wqz9XXW_font-weight);
  letter-spacing: var(--mixin-Hr4o-Wqz9XXW_letter-spacing);
  line-height: var(--mixin-Hr4o-Wqz9XXW_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-rd2lokxRZygM_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-t26SKdNT-FtX_font-family);
  color: var(--mixin-t26SKdNT-FtX_color);
  font-size: var(--mixin-t26SKdNT-FtX_font-size);
  font-weight: var(--mixin-t26SKdNT-FtX_font-weight);
  letter-spacing: var(--mixin-t26SKdNT-FtX_letter-spacing);
  line-height: var(--mixin-t26SKdNT-FtX_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-6w4oF5y9ANyR_font-family);
  color: var(--mixin-6w4oF5y9ANyR_color);
  font-size: var(--mixin-6w4oF5y9ANyR_font-size);
  font-weight: var(--mixin-6w4oF5y9ANyR_font-weight);
  letter-spacing: var(--mixin-6w4oF5y9ANyR_letter-spacing);
  line-height: var(--mixin-6w4oF5y9ANyR_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-4tz5Nz5lYUnb_background);
  font-family: var(--mixin-4tz5Nz5lYUnb_font-family);
  border-radius: var(--mixin-4tz5Nz5lYUnb_border-top-left-radius)
    var(--mixin-4tz5Nz5lYUnb_border-top-right-radius)
    var(--mixin-4tz5Nz5lYUnb_border-bottom-right-radius)
    var(--mixin-4tz5Nz5lYUnb_border-bottom-left-radius);
  padding: var(--mixin-4tz5Nz5lYUnb_padding-top)
    var(--mixin-4tz5Nz5lYUnb_padding-right)
    var(--mixin-4tz5Nz5lYUnb_padding-bottom)
    var(--mixin-4tz5Nz5lYUnb_padding-left);
  border-top: var(--mixin-4tz5Nz5lYUnb_border-top-width)
    var(--mixin-4tz5Nz5lYUnb_border-top-style)
    var(--mixin-4tz5Nz5lYUnb_border-top-color);
  border-right: var(--mixin-4tz5Nz5lYUnb_border-right-width)
    var(--mixin-4tz5Nz5lYUnb_border-right-style)
    var(--mixin-4tz5Nz5lYUnb_border-right-color);
  border-bottom: var(--mixin-4tz5Nz5lYUnb_border-bottom-width)
    var(--mixin-4tz5Nz5lYUnb_border-bottom-style)
    var(--mixin-4tz5Nz5lYUnb_border-bottom-color);
  border-left: var(--mixin-4tz5Nz5lYUnb_border-left-width)
    var(--mixin-4tz5Nz5lYUnb_border-left-style)
    var(--mixin-4tz5Nz5lYUnb_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-oB0nU4SvD5RX_color);
  padding-left: var(--mixin-oB0nU4SvD5RX_padding-left);
  border-left: var(--mixin-oB0nU4SvD5RX_border-left-width)
    var(--mixin-oB0nU4SvD5RX_border-left-style)
    var(--mixin-oB0nU4SvD5RX_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-qkl-kjNE4zYk_background);
  font-family: var(--mixin-qkl-kjNE4zYk_font-family);
  border-radius: var(--mixin-qkl-kjNE4zYk_border-top-left-radius)
    var(--mixin-qkl-kjNE4zYk_border-top-right-radius)
    var(--mixin-qkl-kjNE4zYk_border-bottom-right-radius)
    var(--mixin-qkl-kjNE4zYk_border-bottom-left-radius);
  padding: var(--mixin-qkl-kjNE4zYk_padding-top)
    var(--mixin-qkl-kjNE4zYk_padding-right)
    var(--mixin-qkl-kjNE4zYk_padding-bottom)
    var(--mixin-qkl-kjNE4zYk_padding-left);
  border-top: var(--mixin-qkl-kjNE4zYk_border-top-width)
    var(--mixin-qkl-kjNE4zYk_border-top-style)
    var(--mixin-qkl-kjNE4zYk_border-top-color);
  border-right: var(--mixin-qkl-kjNE4zYk_border-right-width)
    var(--mixin-qkl-kjNE4zYk_border-right-style)
    var(--mixin-qkl-kjNE4zYk_border-right-color);
  border-bottom: var(--mixin-qkl-kjNE4zYk_border-bottom-width)
    var(--mixin-qkl-kjNE4zYk_border-bottom-style)
    var(--mixin-qkl-kjNE4zYk_border-bottom-color);
  border-left: var(--mixin-qkl-kjNE4zYk_border-left-width)
    var(--mixin-qkl-kjNE4zYk_border-left-style)
    var(--mixin-qkl-kjNE4zYk_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-SqMDAz6ubfg6-_display);
  flex-direction: var(--mixin-SqMDAz6ubfg6-_flex-direction);
  align-items: var(--mixin-SqMDAz6ubfg6-_align-items);
  justify-content: var(--mixin-SqMDAz6ubfg6-_justify-content);
  list-style-position: var(--mixin-SqMDAz6ubfg6-_list-style-position);
  padding-left: var(--mixin-SqMDAz6ubfg6-_padding-left);
  position: var(--mixin-SqMDAz6ubfg6-_position);
  list-style-type: var(--mixin-SqMDAz6ubfg6-_list-style-type);
  flex-column-gap: var(--mixin-SqMDAz6ubfg6-_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-Ep5x39Jygq5e1_display);
  flex-direction: var(--mixin-Ep5x39Jygq5e1_flex-direction);
  align-items: var(--mixin-Ep5x39Jygq5e1_align-items);
  justify-content: var(--mixin-Ep5x39Jygq5e1_justify-content);
  list-style-position: var(--mixin-Ep5x39Jygq5e1_list-style-position);
  padding-left: var(--mixin-Ep5x39Jygq5e1_padding-left);
  position: var(--mixin-Ep5x39Jygq5e1_position);
  list-style-type: var(--mixin-Ep5x39Jygq5e1_list-style-type);
  flex-column-gap: var(--mixin-Ep5x39Jygq5e1_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-J0AQX2K_8CkIQ_font-family);
  color: var(--mixin-J0AQX2K_8CkIQ_color);
  font-size: var(--mixin-J0AQX2K_8CkIQ_font-size);
  font-weight: var(--mixin-J0AQX2K_8CkIQ_font-weight);
  letter-spacing: var(--mixin-J0AQX2K_8CkIQ_letter-spacing);
  line-height: var(--mixin-J0AQX2K_8CkIQ_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-yPk4arKaPrbja_font-family);
  color: var(--mixin-yPk4arKaPrbja_color);
  font-size: var(--mixin-yPk4arKaPrbja_font-size);
  font-weight: var(--mixin-yPk4arKaPrbja_font-weight);
  line-height: var(--mixin-yPk4arKaPrbja_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-O0cRpZ7N-8r4O_color);
}
